*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
iframe,
video {
  max-width: 100%;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: var(--gray1);
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: var(--gray12);
}
